.all-events-wrapper { /* width and  centering of the event grid */
  width: 100%;
  max-width: 1000px;   
  margin: 0 auto;
}

.all-events-grid { /* makes the grid responsible */
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;  
}

@media (min-width: 992px) { /* Adjust spacing on larger screens */
  .all-events-grid {
    gap: 20px;
  }
}
